body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: Arial;
    font-size: 12pt;
    color: #000000;
}

.header {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom:1px solid #e8e8e8;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 40px;*/
    overflow: scroll;
    padding: 0px 0px 0px 0px;
    /*padding: 10px 0px 0px 0px;*/
}

.button {
    background-color: #ffffff;
    padding: 4px 5px 4px 5px;
}

    .button:hover {
        background-color: #ccaa00;
    }

.inputPage {
    margin: 0;
}

.zoom {
    padding:2px;
    width: 80px;
}