.loaderblock {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999998;
    background-color: #000000;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

.loader {
    position: fixed;
    text-align: center;
    z-index: 9999999;
    top: 40%;
    left: 40%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--loader-color);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
}

.loader-preload {
    position: fixed;
    text-align: center;
    z-index: 9999999;
    top: 30%;
    left: 30%;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--loader-color);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}