body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    background-color: #FFFFFF;
    color: #000000;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .main {
        width: 100%;
    }
}
